NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
DEFAULT_LINE_USER_ID=

GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview

LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
